.gradle
*.swp
*.sw?
.#*
*#
*~
.classpath
.DS_Store
.factorypath
.idea
.metadata
.project
.recommenders
.settings
.springBeans
bin
build
code
data
lib/
_site/
target
interpolated*.xml
dependency-reduced-pom.xml
build.log
coverage-error.log
.*.md.html
manifest.yml
MANIFEST.MF
rebel.xml
settings.xml
activemq-data
overridedb.*
*.iml
*.ipr
*.iws
build.properties
#ui
node_modules
.barlow-installed
package/app/rpm
package/assets/rpm
